*{
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: black;
}
h1{
    background-color: black;
    color: white;
    height: 5rem;
    line-height: 5rem;
}
.options{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin-top: 5rem;
}
.choice:hover {
    cursor: pointer;
    background-color: rgb(255, 255, 255);
}
.choice{
    height: 165px;
    width: 168px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.Show{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: white;
    margin-top: 8rem;
    gap: 5rem;
}

#user-score,#comp-score{
    font-size: 4rem;
}
.msg{
    margin-top: 5rem;
}
#msgs{
    background-color: black;
    color: white;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}
